{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
    <h1>Add New Property</h1>
    
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class = 'input'>
            <p>{{ form.title.label }}<br>{{ form.title (class= 'fullspace')}} </p>
            <p>{{ form.description.label }}<br>{{ form.description (class='fullspace', )}}</p>
             <div class='group1'>
                <p>{{ form.bedrooms.label }}<br>{{ form.bedrooms (placeholder ='3', class = 'input-field')}}</p>
                <p>{{ form.bathrooms.label }}<br>{{ form.bathrooms (placeholder ='2',class= 'input-field')}}</p>
            <div>
            <div class='group2'>
                <p>{{ form.price.label }}<br>{{ form.price  (placeholder ='15,000,000', class= 'input-field') }}</p>
                <p>{{ form.property_type.label }}<br>{{form.property_type (placeholder ='House', class='input-field') }}</p>
            <div class='group3'>
                <p>{{ form.location.label }}<br>{{ form.location (placeholder ='100 Waterloo Rd', class='input-field')}}</p>
                <p>{{ form.photo.label }}<br>{{ form.photo }}</p>
            <div>
        <div>
        <br>
        <p><button type="submit" class ="Add_P">Add Property</button><p>
    </form>
{% endblock %}
